:root {
    --dark: #223e68;
    --green: #33d1cc;
    --red: #ff3150;
    --yellow: #ffc400;
    --section: #eff7fa;

}

.main-btn {
    background-color: var(--red);
    color: var(--yellow);
    padding: 0.5rem 1rem;
}

.main-btn:hover {
    color: black;
}

.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;

}

/* start nav */
.navbar {
    background-color: var(--dark);
    position: sticky;
    top: 10px;
}

.navbar .nav-link {
    color: white;

}

.navbar .nav-link.active,
.navbar .nav-link:hover {
    color: var(--green);
}

.search {
    border-left: 1px solid var(--green);
}

/*  تلوين ايقونة  البحث*/
.search svg {
    color: var(--green);
    cursor: pointer;
}

/* للتغير لون ايقونة الشاشات الصغيرة والتحكم بخواصها */
.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

/* end nav */
/* start landing */
.landing {
    background-color: var(--dark);
    min-height: calc(100vh);
}

/* end landing */
/* start features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section);
}

.features .icon-holder .icon {
    color: var(--green);
}

h4 {
    color: var(--yellow);
}

/* end features */
/* start our work */
.our-work {
    background-color: var(--section);
}

ul .active {
    background-color: var(--red);
    color: var(--yellow);
}

ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/*   اجعل لونهم احمر  active لما تضغط على جميع الروابط عدا  */
ul li:not(.active):hover {
    color: var(--red);
}

.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

/* لعمل نظام ستارة */
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #3ba8a5;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    transform: translateX(calc(-100% - 5px));
}

.our-work .box:hover:before {
    transform: translateX(0);
}

/*end our work */
/* start stuff */
.description {
    max-width: 500px;
}

.w {
    color: black;
    font-weight: bold;
}

/* end stuff */
/* start team */
.team {
    background-color: var(--section);
}

h2 {
    color: var(--yellow);
    font-weight: bold;
}

.h3 {
    background-color: var(--green);
    color: white;

}

/* end team */
/* start project */
.project {
    background-color: var(--dark);
}

/* end project */
/* start subscribe */
.subscribe {
    background-color: var(--yellow);

}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;

}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe ::placeholder {
    color: white;
}

.subscribe input[type="submit"] {
    background-color: var(--dark);
    color: var(--yellow);
}

/* end subscribe */
/* start footer */
.footer {
    background-color: var(--dark);
}

.footer .copyright>span {
    color: var(--green);
}

.copyright div span {
    color: var(--yellow);
}



.footer .facebook {
    color: #1877f2;
}

.footer .youtube {
    color: #ff0000;
}

.twitter {
    color: #0a66c2;
}

.linkedin {
    color: #0a66c2;
}

/* end footer */